services:
    - type: web
      name: xpend
      region: frankfurt
      plan: free
      repo: https://github.com/xpend-app/xpend.git
      env: node
      buildCommand: yarn && yarn build
      startCommand: yarn start:prod
      healthCheckPath: /healthCheck
      envVars:
          - key: WATCHER_BROKER_URL
            fromService:
                name: xpend-watcher-broker
                type: redis
                property: connectionString
